.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: start;

  padding: 2rem;
}
.hero-content {
  flex: 1;
}
.hero-img {
  flex: 1;
  display: flex;
  /* height: 500px; */
  height: 400px;
  /* max-width: 600px; */
  justify-content: flex-end;
}
.hero-img img {
  width: 100%;
  /* max-width: 500px; */
  height: auto;
  object-fit: contain; /* object-cover jaisa */
  border-radius: 12px;
}
/* 📱 Responsive (mobile / small tablets) */
@media (max-width: 992px) {
  .hero-section {
    text-align: center;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
  .hero-content {
    width: 100%;
    flex: 1;
    /* margin-bottom: 2rem; */
  }

  .hero-img {
    display: block; /* now mobile image shows */
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }
}
