@import "tailwindcss";
@tailwind utilities;

:root {
  --neon: #70fa83;
}

@layer utilities {
  .btnPrimary {
    @apply bg-indigo-600 text-white font-semibold rounded-lg  hover:bg-indigo-700 transition duration-300 shadow-md p-3;
  }
  .inputBox {
    @apply px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 relative;
  }
  .main-heading {
    font-size: 64px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 10px solid var(--neon);
  }
}
