@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --bg-color: white;
  --text-color: black;
}

/* Override for dark mode */
@layer theme {
  .dark {
    --bg-color: #111827; /* e.g., Tailwind’s gray-900 */
    --text-color: #f3f4f6; /* e.g., Tailwind’s gray-100 */
  }
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
@layer utilities {
  .btnPrimary {
    @apply bg-indigo-600 text-white font-semibold rounded-lg  hover:bg-indigo-700 transition duration-300 shadow-md p-3;
  }
  .inputBox {
    @apply px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 relative;
  }
}
